.dashboard {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
    height: 700px;
}

.dashboard section {
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.settingsDash {
    width: 100%;
    gap: 20px;
}

.settingsDash div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    transition: 0.2s ease;
}

.settingsDash div:hover {
    cursor: pointer;
    scale: 1.01;
    background: rgba(138, 0, 0, 0.39);
    color: rgb(0, 155, 83);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.text .heights {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.text div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1b1b1b5b;
    padding: 20px;
    border-radius: 10px;
}

.text h2 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 200;
}

.text p {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 150;
}

.init div {
    background: transparent !important;
    padding: 0 !important;
}

.init div span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    background: #1b1b1b8f;
}

.init div button {
    background: #1b1b1b8f;
    border: none;
    border-radius: 10px;
    padding: 20px;
    transition: 0.2s;
}

.init div button:hover {
    background: #8d8d8d5b;
    cursor: pointer;
}

.init div button img {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.main-four {
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: 30%!important;
}

.vodoravno {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
}

.vodoravno .parameter {
    background: #1b1b1b5b;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.vodoravno .parameter .circle {
    width: 85%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.vodoravno .parameter .circle h2 {
    color: #fff;
    font-weight: 200;
}

.vodoravno .parameter .circle p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 150;
}

.CircularProgressbar-text {
    font-weight: 200;
    flex-wrap: wrap;
    width: 150px;
}

.launch button {
    background: #6e030325;
    border: none;
    border-radius: 50%;
    transition: 0.2s;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    width: 150px;
    height: 150px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.37);
}

.launch button:hover {
    background: #b90000c4;
    cursor: pointer;
}

.leaflet-top {
    z-index: 500 !important;
}

.leaflet-container {
    width: 100% !important;
}

#map {
    height: 700px;
    width: 100%;
}