.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.dashboard h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-top: 40px;
    font-weight: 200;
}

.status {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: -50px;
}

.status .left,
.status .right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fff;
}

.status .left h2 {
    font-size: 1.8rem;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.status .left h2 span{
    width: 160px;
    text-align: center;
    background: #4602025b;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
}

.status .right {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: -5px;
}

.status .right h2 {
    font-size: 1.5rem;
    font-weight: 200;
}

.parameters {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
    flex-wrap: wrap;
}

.parameters section {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings {
    width: 80%;
}

.settings div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    transition: 0.2s ease;
}

.settings div:hover {
    cursor: pointer;
    scale: 1.01;
    background: rgba(138, 0, 0, 0.39);
    color: rgb(0, 155, 83);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
}

.text .heights {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.text div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1b1b1b5b;
    padding: 20px;
    border-radius: 10px;
}

.text h2 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 200;
}

.text p {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 150;
}

.parameters .parameter {
    background: #1b1b1b5b;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parameters .parameter .circle {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.parameters .parameter .circle h2 {
    color: #fff;
    font-weight: 200;
}

.parameters .parameter .circle p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 150;
}

.CircularProgressbar-text {
    font-weight: 200;
    flex-wrap: wrap;
    width: 150px;
}

.main-four {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    gap: 40px;
}

.map {
    height: 400px;
}