* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#010005, #191c22);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Navbar */

nav {
  height: 80px;
  width: 60%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #070707d8;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(100% 100%, 0 100%, 5% 0, 95% 0);
}

nav ul {
  list-style: none;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  display: block;
  border: 2px solid transparent;
  padding: 10px 5px;
  transition: 0.3s ease;
}

nav ul li a:hover {
  border-bottom: 2px solid #cfdae6;
  cursor: pointer;
}

nav ul li a .active {
  border-bottom: 2px solid #cfdae6;
}