* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#010005, #0d1529);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Navbar */

nav {
  height: 80px;
  width: 60%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #070707b6;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid red;
}

nav:hover {
  height: 100px;
  background: #0d1529;
}

nav ul {
  list-style: none;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

nav ul li a {
  text-decoration: none;
  color: #89b4db;
  font-size: 18px;
  display: block;
  width: 80px;
  padding: 15px 0;
}

nav ul li a:hover {
  background: linear-gradient(90deg, #0d152900, rgb(44, 58, 94));
}