.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-top: 40px;
    font-weight: 200;
}

.settings button {
    position: absolute;
    bottom: 100px;
    background-color: #4746464d;
    color: #fff;
    border: none;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 200;
    transition: 0.3s;
}

.settings button:hover {
    background-color: #474646;
}

.units {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
    height: 20vh;
    width: 40vw;
}

.units div {
    margin: 0 10px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.units div h2 {
    font-size: 1.5rem;
    font-weight: 200;
}

.units div p {
    font-size: 1.2rem;
    font-weight: 200;
}

.units div select {
    background-color: #4746464d;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 200;
    transition: 0.3s;
}

.units div select:hover {
    background-color: #474646;
}

.units div select:focus {
    background-color: #474646;
    outline: none;
}